<div ui-view>
  <div class="py-5 text-center">
    <h1 class="display-4">Olá, <span class="h2 d-block">Bem-vindo ao <strong>Studio4Gram</strong></span></h1>
    <span class="h4 font-italic text-secondary">O que você deseja fazer?</span>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 order-md-1">
      <span class="linear-color-round">
        <a ui-sref=".novaconta" class="btn-block text-center btn-lg linear-color-bground mb-3 text-white">
          <img src="assets/img/plus.png" class="mr-2" />
          Criar uma nova conta
        </a>
      </span>
      <span class="linear-color-round">
        <a ui-sref=".login" class="btn-block text-center text-dark lk-entrar pb-1 pt-1">
          <img src="assets/img/entrar.png" class="mr-2" />
          Entrar com uma conta já existente
        </a>
      </span>
    </div>
  </div>
</div>
