<div class="container-fluid" disable-all="!ctrl.perfilSelecionado.PerfilAtivo">
  <h1 class="h3 mb-4 text-gray-800"><img src="assets/img/ico-user-group.png" class="mr-2 align-middle">Gerenciar Perfis</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"><img src="assets/img/ico-user-group.png" class="mr-2 align-bottom">Meus Perfis</h6>
        </div>
        <div class="card-body">
          <div class="list-group">
            <a class="list-group-item list-group-item-action" ng-repeat="perfil in ctrl.perfil | filter: {IdPerfil: '!!'}">
              <div class="row">
                <div class="col-md-1 mt-1">
                  <img src="{{perfil.FotoPerfil}}" class="rounded-circle" height="40" />
                </div>
                <div class="col p-0 font-weight-bold text-dark">
                  @{{perfil.Usuario}}
                  <ul class="list-inline m-0">
                    <li class="list-inline-item">
                      <small>
                        <strong>{{perfil.NomePlano}}</strong>
                      </small>
                    </li>
                    <li class="list-inline-item">
                      <small>Ativação: <strong>{{perfil.AtivacaoPlano | date: 'dd/MM/yyyy'}}</strong></small>
                    </li>
                    <li class="list-inline-item">
                      <small>Expiração: <strong>{{perfil.ExpiracaoPlano | date: 'dd/MM/yyyy'}}</strong></small>
                    </li>
                    <li class="list-inline-item">
                      <small>Status: <strong ng-class="perfil.Status == 'Parado' ? 'text-danger' : 'text-success'">{{perfil.Status}}</strong></small>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col mt-2">
                  <button class="btn-sm linear-color-bground bpurple p-1 pl-2 pr-2" ng-click="ctrl.modalAlterarSenha(perfil.Usuario)">Alterar Senha</button>
                  <button class="btn-sm linear-color-bground p-1 pl-2 pr-2" ng-if="(ctrl.perfil | filter: {IdPerfil: '!!'}).length > 1" ng-click="ctrl.remover(perfil.IdPerfil)">Remover Perfil</button>
                  <button skip-disable class="skip btn-sm linear-color-bground bgreen p-1 pl-2 pr-2" ng-if="!perfil.PerfilAtivo" ng-click="ctrl.modalContratar(perfil.IdPerfil)">Renovar Assinatura</button>
                  <button class="btn-sm linear-color-bground p-1 pl-2 pr-2" ng-if="perfil.Status == 'Trabalhando'" ng-click="ctrl.alterarComportamento(perfil.IdPerfil, 1)">Pausar Perfil</button>
                  <button class="btn-sm linear-color-bground bgreen p-1 pl-2 pr-2" ng-if="perfil.Status == 'Parado'" ng-click="ctrl.alterarComportamento(perfil.IdPerfil, 0)">Retomar Perfil</button>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal-senha">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary" ng-if="ctrl.etapaAlteracaoSenha == 1">Alteração de senha ( @{{ctrl.Instagram.Usuario}} )</h6>
                <h6 class="m-0 font-weight-bold text-primary" ng-if="ctrl.etapaAlteracaoSenha == 2">Autorização Instagram</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="card-body">
                <div ng-if="ctrl.etapaAlteracaoSenha == 1">
                  <div class="alert alert-danger">
                    <strong>IMPORTANTE</strong>
                    <hr />
                    <p>
                      <small>Utilize este recurso caso você tenha alterado a senha da sua conta <strong>Instagram</strong>.</small>
                    </p>
                    <p>
                      <small>O <strong>Studio4Gram</strong>, por questões de segurança e privacidade, <strong>não modifica a sua senha</strong>, somente integra ao Instagram para utilização dos seus recursos.</small>
                    </p>
                  </div>
                  <form name="senhaform" novalidate autocomplete="off">
                    <div class="form-row">
                      <div class="mb-3 col">
                        <label class="font-weight-bold">Nova senha</label>
                        <input type="password" class="form-control" placeholder="Nova senha" name="novasenha" ng-model="ctrl.Instagram.Senha" required>
                        <div ng-messages="senhaform.novasenha.$error" ng-if="senhaform.novasenha.$dirty || senhaform.$submitted" class="invalid-feedback">
                          <div ng-message="required">Obrigatório</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <button class="btn btn-primary btn-lg btn-block linear-color-bground bgreen mb-3" ng-click="ctrl.alterarSenha(senhaform)">Salvar</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div ng-if="ctrl.etapaAlteracaoSenha == 2">
                  <p>{{ctrl.challenge.mensagem}}</p>
                  <form name="autorizacaoform" novalidate autocomplete="off">
                    <input type="text" class="form-control text-center form-control-lg" name="codigo" placeholder="Código recebido" mask="9" repeat="6" clean="true" restrict="reject" required ng-model="ctrl.challenge.codigo">
                    <div ng-messages="autorizacaoform.codigo.$error" ng-if="autorizacaoform.codigo.$dirty || autorizacaoform.$submitted" class="invalid-feedback">
                      <div ng-message="required">Obrigatório</div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block linear-color-bground mb-3 mt-3" ng-click="ctrl.validarCodigo(autorizacaoform)" type="submit">Validar Código</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal-contratar">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Escolha um de nossos planos</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="card-body">
                <div ng-if="ctrl.etapaAssinatura == 1">
                  <div class="row justify-content-center">
                    <div class="col-md-4 text-center pb-4" ng-repeat="plano in ctrl.planos">
                      <a href="" class="d-block text-dark p-3 bt-plano" ng-class="ctrl.planoSelecionado == plano ? 'active' : ''" ng-click="ctrl.planoSelecionado=plano">
                        <div class="linear-color-bground bblue text-center pt-3 pb-3">
                          <span class="d-block text-white font-weight-bold display-3">{{plano.Periodo}}</span>
                          <span class="d-block text-white font-weight-bold h3" ng-if="plano.TipoPeriodo == 0">{{ plano.Periodo == 1 ? "Dia" : "Dias" }}</span>
                          <span class="d-block text-white font-weight-bold h3" ng-if="plano.TipoPeriodo == 1">{{ plano.Periodo == 1 ? "Mês" : "Meses" }}</span>
                        </div>
                        <span class="d-block font-weight-bold h5 mt-2 mb-1">Plano {{plano.Nome}}</span>
                        <span class="d-block h5 mt-0">por apenas</span>
                        R$ <span class="display-4">{{plano.ValorInteiro}}</span>,<span class="h4">{{plano.ValorFracao}}</span>
                      </a>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-1"></div>
                    <div class="col-md-7">
                      <button class="btn btn-primary btn-lg btn-block linear-color-bground bgreen mb-3" type="submit" ng-click="ctrl.etapaAssinatura = 2">Continuar</button>
                    </div>
                    <div class="col-md-1"></div>
                  </div>
                </div>
                <div ng-if="ctrl.etapaAssinatura == 2">
                  <form name="pagamentoform" novalidate autocomplete="off">
                    <div class="row mb-3 justify-content-center">
                      <div class="col-md-10">
                        <div class="form-group row">
                          <div class="col-md-12 mb-4 text-center">
                            <img src="assets/img/bandeiras-cartoes.png" />
                          </div>
                          <div class="col-12 mb-3">
                            <label class="font-weight-bold">Número do Cartão</label>
                            <input type="text" class="form-control" name="numerocartao" mask="9" repeat="16" clean="true" restrict="reject" ng-model="ctrl.pagamento.NumeroCartao" cc-number cc-eager-type required>
                            <div ng-messages="pagamentoform.numerocartao.$error" ng-if="pagamentoform.numerocartao.$dirty || pagamentoform.$submitted || pagamentoform.numerocartao.$invalid && pagamentoform.numerocartao.$ccEagerType" class="invalid-feedback">
                              <div ng-message="required">Obrigatório</div>
                              <div ng-message="ccNumber">Número inválido</div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6 mb-3">
                            <label class="font-weight-bold">Nome do titular</label>
                            <input type="text" class="form-control" name="nomecartao" ng-model="ctrl.pagamento.NomeCartao" placeholder="Nome impresso no cartão" required>
                            <div ng-messages="pagamentoform.nomecartao.$error" ng-if="pagamentoform.nomecartao.$dirty || pagamentoform.$submitted" class="invalid-feedback">
                              <div ng-message="required">Obrigatório</div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6 mb-3">
                            <label class="font-weight-bold">CPF do titular</label>
                            <input type="text" class="form-control" name="cpfcartao" mask="999.999.999-99" clean="true" restrict="reject" ng-model="ctrl.pagamento.CpfCartao" placeholder="Para emissão da nota fiscal" maxlength="14" required>
                            <div ng-messages="pagamentoform.cpfcartao.$error" ng-if="pagamentoform.cpfcartao.$dirty || pagamentoform.$submitted" class="invalid-feedback">
                              <div ng-message="required">Obrigatório</div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                            <label class="font-weight-bold">Data de Expiração</label>
                            <div class="row">
                              <div class="col-6">
                                <select class="form-control" name="mesexpiracao" ng-model="ctrl.pagamento.MesExpiracao" cc-exp-month required>
                                  <option value="">-- Mês --</option>
                                  <option ng-repeat="mes in ctrl.meses" value="{{mes.mes}}">{{mes.mes}} | {{mes.nome}}</option>
                                </select>
                                <div ng-messages="pagamentoform.mesexpiracao.$error" ng-if="pagamentoform.mesexpiracao.$dirty || pagamentoform.$submitted" class="invalid-feedback">
                                  <div ng-message="required">Obrigatório</div>
                                  <div ng-message="ccExpMonth">Inválido</div>
                                </div>
                              </div>
                              <div class="col-6">
                                <select class="form-control" name="anoexpiracao" cc-exp-year required ng-model="ctrl.pagamento.AnoExpiracao">
                                  <option value="">-- Ano --</option>
                                  <option ng-repeat="ano in ctrl.anos" value="{{ano.resumido}}">{{ano.completo}}</option>
                                </select>
                                <div ng-messages="pagamentoform.anoexpiracao.$error" ng-if="pagamentoform.anoexpiracao.$dirty || pagamentoform.$submitted" class="invalid-feedback">
                                  <div ng-message="required">Obrigatório</div>
                                  <div ng-message="ccExpYear">Inválido</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6 mb-3">
                            <label class="font-weight-bold">Cód. de segurança</label>
                            <input type="text" class="form-control" ng-model="ctrl.pagamento.CodigoSeguranca" name="codigoseguranca" cc-cvc required maxlength="4">
                            <div ng-messages="pagamentoform.codigoseguranca.$error" ng-if="pagamentoform.codigoseguranca.$dirty || pagamentoform.$submitted" class="invalid-feedback">
                              <div ng-message="required">Obrigatório</div>
                              <div ng-message="ccCvc">Inválido</div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6">
                            <label class="font-weight-bold">Parcelamento</label>
                            <select class="form-control" name="parcelamento" required ng-model="ctrl.pagamento.Parcelamento">
                              <option value="">-- Parcela --</option>
                              <option ng-repeat="parcela in ctrl.planoSelecionado.ValorParcelas track by $index" value="{{$index + 1}}">{{$index + 1}} x R$ {{parcela|number:2}}</option>
                            </select>
                            <div ng-messages="pagamentoform.parcelamento.$error" ng-if="pagamentoform.parcelamento.$dirty || pagamentoform.$submitted" class="invalid-feedback">
                              <div ng-message="required">Obrigatório</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-md-3">
                        <button class="btn btn-primary btn-lg btn-block linear-color-bground bgreen" type="submit" ng-click="ctrl.etapaAssinatura = 1">Voltar</button>
                      </div>
                      <div class="col-md-3">
                        <button class="btn btn-primary btn-lg btn-block linear-color-bground" type="submit" ng-click="ctrl.contratar(pagamentoform)">Contratar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
